.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### In Modules ###
spring-boot-jpa/build/
spring-boot-jpa/out/

spring-boot-mvc/build/
spring-boot-mvc/out/


### Etc ###
**/logs
